/* start custom scss snippet */

/* theme toggle button */
.theme-toggle-button{
  display: flex;
  height: 100%;
  // padding: 1rem;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

.theme-toggle-button.active{
  background-color: none;
}

.btnScrollToTop {
  opacity: 0;
  width: 40px;
  height: 40px;
  color: #282b31;
  background-color: $main-color-1;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  font: bold 20px monospace;
  transition: opacity 0.5s, transform 0.5s;
}

.btnScrollToTop.show {
  opacity: 1;
  transition: opacity 1s, transform 1s;
}

.btnScrollToTop:active {
  background-color: #444;
}

.center_full {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.center_seventy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.center_fifty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center_fourty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
  
  .blueborder {
    border-style: solid;
    border-color: #287ec7;
    padding: 10px;
    line-height: 1.8;
    color: black;
  }

.redborder {
  border-style: solid;
  border-color: #ff0000;
  padding: 10px;
  line-height: 1.8;
}

.greenbox {
  background-color: #cfc;
  padding: 10px;
  border: 1px solid green;
  line-height: 1.8;
  color: black;
}

.orangebox {
  background-color: #ffe4b5;
  padding: 10px;
  border: 1px solid #ff8c00;
  line-height: 1.8;
  color: black;
}

.redbox {
  background-color: #ffe4e1;
  border: 1px solid #fa8072;
  display: block;
  padding: 10px;
  line-height: 1.8;
  color: black;
}

.bluebox {
  background-color: #f0f8ff;
  border: 1px solid #87cefa;
  display: block;
  padding: 10px;
  color: black;
  line-height: 1.8;
}

.yellowbox {
  background-color: #fff7aa;
  display: block;
  padding: 10px;
  line-height: 1.8;
  color: black;
}

.redtext {
  color: red;
}

.bluetext {
  color: blue;
}

.orangetext {
  color: #ff791a;
}

.greentext {
  color: green;
}

.collapsible_code {
  font-size: 0.9em;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #e6d4ff;
  color: #444;
  cursor: pointer;
  padding: 5px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 20pt;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
//   .active,
.collapsible.active, .collapsible:hover, collapsible:focus {
  background-color: #ae75fd;
}


/* Style the collapsible content. Note: hidden by default */
.content_answer {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  color: #444;
  background-color: #e6d4ff;
  font-size: 0.9em;
}

/* OVERPASS FONT */

/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9TqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY93qxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9bqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9TqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY93qxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9bqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9TqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY93qxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9bqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9TqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY93qxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9bqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9TqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY93qxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9bqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9TqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY93qxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9bqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9TqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY93qxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9bqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9TqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY93qxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9bqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GoU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GhU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GqU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GoU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GhU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GqU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GoU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GhU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GqU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GoU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GhU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GqU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GoU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GhU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GqU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GoU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GhU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GqU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GoU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GhU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GqU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GoU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GhU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GqU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iK0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iu0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iC0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iG0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0tt21C34.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iK0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iu0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iC0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iG0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0tt21C34.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iK0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iu0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iC0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iG0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0tt21C34.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iK0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iu0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iC0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1iG0tt21C35m6Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/overpassmono/v15/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0tt21C34.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* end custom scss snippet */
