@media print {
  a {
    @include plain() {
      text-decoration: underline;
    }
    @include hover() {
      text-decoration: underline;
    }
    @include active() {
      text-decoration: underline;
    }
  }

  img,
  tr,
  pre,
  blockquote {
    page-break-inside: avoid;
  }

  img {
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
}

}
